.custom-card{
  transition: transform 0.3s ease-in-out;
}
.custom-card:hover{
  transform: scale(1.05);

}

.testimonial-card{
  transition: transform 0.3s ease-in-out;
}
.testimonial-card:hover{
  transform:translateY(-5px);
}
.pricing-card{
  transition: transform 0.3s ease-in-out;
}
.pricing-card:hover{
  transform:translateY(-5px);

}
